<div class="bg-[#15a5ff] text-white py-8 px-4 flex justify-around">
  <div class="w-1/5 flex flex-col items-center gap-4">
    <%= image_tag "logo-olp.svg" ,class: "w-[100px] h-[100px] rounded-full" %>
    <div>Slogan</div>
  </div>
  <div class="w-1/5 flex flex-col items-center gap-4">
    <div>Home</div>
    <div>About us</div>
    <div>Courses</div>
    <div>Contact</div>
  </div>
  <div class="w-1/5 flex flex-col items-center gap-4">Location</div>
  <div class="w-2/5 flex flex-col items-center gap-4">Map</div>
</div>